
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lora&display=swap');
body{
    font-family: 'Lora', serif;
}
.bg{
    background-color: rgb(239, 234, 234);
}


.whole-page{
    width: 100%;
    height: 100vh;
    margin: 0.5em auto;
}
#image-part{
    position: relative;
    background-image: url(/images/philip-oroni-3er4tNSPPoc-unsplash.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    opacity: 0.9;
}
.overlay{
    position: absolute;
    top: 65%;
    margin: 0 2.5rem;
}
.overlay h2{
    color: antiquewhite;
    font-size: 2rem;
    font-weight: 2500;
    opacity: 0.7;
}
.overlay p{
    color: antiquewhite;
    line-height: 2rem;
    opacity: 0.7;
}
.dot{
    font-size: 4rem;
    color: antiquewhite;
    opacity: 0.7;
}
.right-content{
    background-color:  rgb(246, 247, 248);
}
.right-content-style{
    margin: 1em 2em;
}
.right-content h1{
    color: rgba(131, 72, 5, 0.897);
    font-size: 2.5rem;
    text-align: center;
    margin: 1em 0;
    font-weight: 600;
    font-style: italic;
    font-family: 'Dancing Script', cursive;

}
.right-content h2{
    font-size: 1.2rem;
    margin-bottom: 0.8em;
}
form{
    margin-left: 3em;
    margin-bottom: 0.8em;
}
label input{
    margin-bottom: 0.8em;
    
}
input{
    border: none;
    outline: none;
    border-bottom: 2px solid rgba(127, 122, 122, 0.941);
    width: 100%;
    padding: 0.8em;
    background-color: rgb(246, 247, 248);
}
label{
    margin-top: 1em;
}
.forgot-password{
    text-align: right;
    margin-top: 0;
}
button{
    display: inline-block;
    background-color: antiquewhite !important;
    color: black;
    width: 30%;
    padding: 0,5em;
    cursor: pointer;
    transition: background-color 2s ease-in-out;
   
}
.button:hover{
    background-color: red;
}
    
.but{
    text-align: center;
    margin-top: 1em;

}
img{
    width: 3%;
    margin-right: 0.2em;
}
img span{
    font-size: 0.3em;
}
.img-style{
    text-align: center;
    margin: 1.5em 0;
}
.footer{
    text-align: center;
    margin-bottom: 0.5em;
}
.footer span{
    text-decoration: underline;
    margin-left: 5px;
    
}
/*
#errorMessage{
    background-color: bisque;
    line-height: 1.5rem;
    padding: 0.5em;
    border-radius: 5px;
}
*/




